*{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  display:none;
}

/* Containers */
.white-container{
  background-color: white;
  color: black;
  padding: 5% 10%;
}
.black-container{
  background-color: black;
  color: white;
  padding: 5% 10%;
}

/* Components */

/* Navbar */
.nav-container{
  background-color: black;
}
.navbar-image{
  width: 30px;
}
.navbar-brand{
  padding: 1%;
}
.navbar-brand, .nav-link{
  color: white;
}

/* Footer */
.footer{
  background-color: black;
  color: white;
  padding: 1% 0;
}
.footer-flex{
  display: flex;
  justify-content:center;
}
.footer-flex > a{
  text-decoration: none;
}
.footer-item{
  color: white;
  padding: 0 1%;
}
.to-top{
  margin-left: 90%;
  color:white ;
}

/* Card */
.card{
  border: none;
  text-align: center;
}
.card-body{
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2rem;
  width: 18rem;
  padding: 15% 10%;
}
.card-body img{
  width: 100px;
  border-radius: 100%;
  margin-bottom: 1rem;
}

/* Carousel Item */
:root{
  --Orange: #fe8900;
  --Red: #f66465;
  --Blue: #63d5e7
}
.carousel-card{
  text-align: center;
  width: 70%;
  padding: 5% 5%;
  margin: 10% 0;
  border-radius: 1rem;
  color: white;
}
.carousel-card:hover{
  box-shadow: 10px 10px 20px gray;
  transition: 0.3s;
}
.carousel-card h3{
  padding: 5% 0;
}

/* First Section */
#section-1{
  clip-path: polygon(0 1%, 100% 0%, 100% 90%, 0% 100%);
}
#section-1 h1{
  font-family: serif;
  font-size: 4rem;
}
#section-1 p{
  font-family: sans-serif;
  font-weight: bold;
}
.image{
  text-align: center;
}

/* Second Section */
#section-2{
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
}
#section-2 h1{
  font-size: 4rem;
}
#section-2 p{
  font-weight: bold;
}

/* Third Section */

#section-3{
  display: flex;
  justify-content: center;
}

/* Fourth Section */
.carousel{
  background-color: white;
  color: black;
  border-radius: 1rem;
  margin: auto;
  padding: 2% 5%;
  width: 70%;
}

/* Fifth Section */
.grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
.grid-container > div > img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}
.grid-container > div > img:hover{
  transform: scale(1.1);
}

.item1 {
  grid-column: 1 / 2;
}
.item2 {
  grid-column: 2 / 4;
}
.item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.item4 {
  grid-column: 2 / 3;
}
.item5 {
  grid-column: 3 / 4;
}
.item6 {
  grid-column: 2 / 3;
}
.item7 {
  grid-column: 3 / 4;
}